<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../static/styles/style.css">
    <title>VoiceAI</title>
</head>

<body>

    <header>
        <nav class="header d-flex">
            <div class="container d-flex">
                <div class="header-logo">
                    <i class="fas fa-microphone-alt"></i>
                    VoiceAI
                </div>
                <div>
                    <ul>
                        <li class="icon-item" style="margin-right: 0 !important;"><i class="fab fa-facebook-square"></i>
                        </li>
                        <li class="icon-item"><i class="fab fa-instagram"></i></li>
                        <li class="icon-item"><i class="fas fa-envelope"></i></li>
                        <li class="icon-item"><i class="fab fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="footer d-flex">
            <div class="container">
                <ul>
                    <li class="fromCenter">
                        <a href="#">Home</a>
                    </li>
                    <li class="fromCenter">
                        <a href="#">Convert text to speech</a>
                    </li>
                    <li class="fromCenter">
                        <a href="#">About us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="text-box">
                <h5>Copy and paste your text here:</h5>
                <textarea placeholder=" " cols="30" rows="20"></textarea>
            </div>
            <div class="action-box">
                <button>Create English audio file</button>
                <button>Create Vietnamese audio file</button>
            </div>
            <div class="result-box">
                <h5>Result:</h5>
            </div>
        </div>
    </main>
    <footer>
        <div>Designed by ...</div>
    </footer>

</body>

<script>
    
</script>

</html>